@font-face {
    font-family: 'NPSfontBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'WandohopeR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

.nav-link:hover{
    font-weight: bold;
}
.anonymous,.authenticated{
    float: right;
}
.icon{
    width: 32px;
    height: 32px;
}
.icon-col{
    width: 25px;
    height: 25px;
}
header{
    border-bottom: 1px solid silver;
}

footer{
    border-top: 1px solid silver;
    margin-top: auto;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header,.content,.footer{
    margin-left: 200px;
    margin-right: 200px;
}
.content{
    margin-top: 30px;
    margin-bottom: 30px;
}
.icon-wrapper{
    text-decoration-line: none;
}

.copy-icon{
    cursor: pointer;
}
* {
    font-family: 'Pretendard-Regular',cursive;
}

.w-30{
    width: 30% !important;
}
.w-35{
    width: 35% !important;
}
.w-40{
    width: 40% !important;
}
.w-45{
    width: 45% !important;
}

